<h2>Browse</h2>

<div class="panel">

    <div>
        <button ng-click="previous();">&leftarrow; prev</button>
        <button ng-click="next();">next &rightarrow;</button>
    </div>

    <table class="table-view" width="100%">
        <thead>
        <tr>
            <td width="200">Date</td>
            <td>Message</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items">
            <td>{{item.date | date}}</td>
            <td>{{item.message}}</td>
        </tr>
        </tbody>
    </table>

</div>