<h3>Search</h3>

<div class="panel">


    <div class="row collapse">
        <div class="large-2 columns">
            <span class="prefix">Search by Keyword</span>
        </div>
        <div class="large-8 columns">
            <input type="text" ng-model="search" name="search" placeholder="eg.: SAPS IR or Bergvliet (search is case-sensitive)"/>
        </div>
        <div class="large-2 columns">
            <button ng-click="doSearch();" class="button postfix" ng-disabled="search.length == 0">Search</button>
        </div>
    </div>

    <div ng-show="searchState.searching">
        <img ng-src="assets/img/infinity-loading.gif"/>
    </div>

    <div class="round callout panel" ng-hide="results.length > 0 || !searchState.searched">
        <h4>No Results</h4>
        <hr/>
        <p ng-if="searchState.searched && search.length > 0">The search for <code>{{search}}</code> returned 0 results.</p>
    </div>

    <div ng-show="results.length > 0">
        <div class="row collapse">
            <div class="large-2 columns">
                <a ng-click="start()" class="tiny round button prefix" ng-disabled="items.page<=1">Start</a>
            </div>

            <div class="large-2 columns">
                <a ng-click="previous()" class="tiny button prefix" ng-disabled="items.page<=1">Previous</a>
            </div>

            <div class="large-4 columns">
                <span class="prefix">Page {{items.page}} of {{items.pages}} ({{items.data.length}} results)</span>
            </div>

            <div class="large-2 columns">
                <a ng-click="next()" class="tiny button postfix" ng-disabled="items.page == items.pages">Next</a>
            </div>

            <div class="large-2 columns">
                <a ng-click="end()" class="tiny round button postfix" ng-disabled="items.page == items.pages">End</a>
            </div>
        </div>

    </div>

    <table class="table-view" width="100%" ng-show="results.length > 0">
        <thead>
        <tr>
            <td width="200">Date</td>
            <td>Message</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in results">
            <td>{{item.date | date}}</td>
            <td>{{item.message}}</td>
        </tr>
        </tbody>
    </table>

</div>